/* App.css */
.app-container {
  font-family: Arial, sans-serif;
  background-color: #fdfdfd;
  padding: 20px;
}

.block-image {
  width: 100px;
}

.navbar {
  box-sizing: border-box;
  position: relative;
  width: 1440px;
  height: 132px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f1f1;
  padding: 10px;
}

.logo img {
  height: 40px;
}

.search-bar input {
  padding: 5px;
  border: 1px solid #ddd;
  .search-bar button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
}

.language-currency button,
.user-login button,
.airbnb-your-home button {
  background-color: transparent;
  border: none;
  color: #ccc;
  cursor: pointer;
  margin-right: 5px;
}

.user-login button,
.airbnb-your-home button {
  color: #535556;
}

.user-preferences {
  background-color: transparent;
}

.user-preferences ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.user-preferences li {
  margin-right: 10px;
}

.product-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: calc(33.33% - 50px);
  margin-right: 50px;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.tax-button button {
  align-items: center;
  justify-items: center;
  display: flex;
}

.footer {
  display: flex;
  width: auto;
}
