/* UserPreferencesComponent */
 {
  box-sizing: border-box;

  position: relative;
  width: 1440px;
  height: 190px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;

  /* AirbnbCloneComponent */

  position: relative;
  width: 1440px;
  height: 1024px;

  background: #ffffff;

  /* ProductListComponent */

  box-sizing: border-box;

  position: relative;
  width: 1251px;
  height: 702px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;

  /* NavigationBarComponent */

  box-sizing: border-box;

  position: relative;
  width: 1440px;
  height: 132px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;

  /* airbnbLogo */

  position: absolute;
  width: 262px;
  height: 76px;

  background: url(kisspng-airbnb-logo-san-francisco-travel-hotel-airbnb-logo-5b1a2a2c345fd5.jpg);

  /* Filter Preference  */

  box-sizing: border-box;

  position: absolute;
  width: 191px;
  height: 87px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;

  /* Search Bar */

  box-sizing: border-box;

  position: absolute;
  width: 590px;
  height: 76px;

  background: #ffffff;
  border: 1px solid #736b6b;

  /* Rectangle 3 */

  position: absolute;
  width: 490px;
  height: 76px;

  background: #d9d9d9;

  /* Ellipse 4 */

  position: absolute;
  width: 100px;
  height: 76px;

  background: #d9d9d9;

  /* Ellipse 5 */

  position: absolute;
  width: 100px;
  height: 76px;

  background: #d9d9d9;

  /* User Login */

  box-sizing: border-box;

  position: absolute;
  width: 179px;
  height: 76px;

  background: #ffffff;
  border: 1px solid #595555;

  /* Rectangle 2 */

  position: absolute;
  width: 89.5px;
  height: 76px;

  background: #d9d9d9;

  /* Ellipse 1 */

  position: absolute;
  width: 89.5px;
  height: 76px;

  background: #d9d9d9;

  /* Ellipse 2 */

  position: absolute;
  width: 89.5px;
  height: 76px;

  background: #d9d9d9;

  /* Ellipse 3 */

  position: absolute;
  width: 89.5px;
  height: 76px;

  background: #d9d9d9;
}
